/* ---- reset ---- */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}










/* ---- section ---- */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 604px;
  height: 700px;
  box-sizing: border-box;
  border: 2px solid #33CC00;
}

section p {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}


.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

canvas {
  /* border: 2px solid greenyellow; */
  width: 600px;
  height: 700px;
  box-sizing: border-box;
}

body {
  color: #33CC00;
  background-color: black;
}



button {
  width: 300px;
  font: 18px;
  font-size: 14px;
  height: 30px;
  background-color: transparent;
  border: 0px solid transparent;
  margin-top: 60px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

button:hover {
  color: red;
  cursor: pointer;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
}